Question 5

In [110]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import precision_score

In [111]:
# Load the CSV file
dataframe = pd.read_csv("IBM_Attrition_v2B.csv")
dataframe.head()

   Age  JobSatisfaction  MonthlyIncome Attrition
0   36                3         7094.0        No
1   34                3         2351.0       Yes
2   30                3         5294.0        No
3   41                1        16595.0        No
4   57                4        14118.0        No

In [112]:
#Summerize the dataframe
dataframe.describe()

              Age  JobSatisfaction  MonthlyIncome
count  147.000000       147.000000     134.000000
mean    39.571429         2.659864    6792.649254
std     12.689657         1.155669    4989.702273
min     20.000000         1.000000    1009.000000
25%     31.000000         1.500000    2925.250000
50%     37.000000         3.000000    4846.500000
75%     46.000000         4.000000    8735.500000
max     95.000000         4.000000   19566.000000

In [113]:
#Identifying missing values
dataframe.isnull()

       Age  JobSatisfaction  MonthlyIncome  Attrition
0    False            False          False      False
1    False            False          False      False
2    False            False          False      False
3    False            False          False      False
4    False            False          False      False
..     ...              ...            ...        ...
142  False            False          False      False
143  False            False           True      False
144  False            False          False      False
145  False            False          False      False
146  False            False          False      False

[147 rows x 4 columns]

In [114]:
# Remove the missing values
dataframe.dropna(inplace=True)
dataframe.isnull()

       Age  JobSatisfaction  MonthlyIncome  Attrition
0    False            False          False      False
1    False            False          False      False
2    False            False          False      False
3    False            False          False      False
4    False            False          False      False
..     ...              ...            ...        ...
141  False            False          False      False
142  False            False          False      False
144  False            False          False      False
145  False            False          False      False
146  False            False          False      False

[134 rows x 4 columns]

In [115]:
#Make sure that the Attrition column is in numerals
dataframe = dataframe.replace(to_replace='Yes', value=1)
dataframe = dataframe.replace(to_replace='No', value=0)
dataframe.head()

   Age  JobSatisfaction  MonthlyIncome  Attrition
0   36                3         7094.0          0
1   34                3         2351.0          1
2   30                3         5294.0          0
3   41                1        16595.0          0
4   57                4        14118.0          0

In [118]:
# Normalize data
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(dataframe)
normalized_df = pd.DataFrame(normalized_data, columns=dataframe.columns)

In [119]:
#Split dataset int features and target values
X = normalized_df[['Age', 'JobSatisfaction', 'MonthlyIncome']]
Y = normalized_df['Attrition']
Y.head()

0    0.0
1    1.0
2    0.0
3    0.0
4    0.0
Name: Attrition, dtype: float64

In [120]:
#Split dataset into train and test 
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state=42)

In [121]:
# Normalize using Standardscalar
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [122]:
classifier = KNeighborsClassifier(n_neighbors = 3)
classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [123]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

In [124]:
# Making the Confusion Matrix
Confusion = confusion_matrix(y_test, y_pred)
Confusion

array([[31,  1],
       [ 8,  1]], dtype=int64)

In [125]:
# Measuring accuracy
accuracy = accuracy_score(y_test, y_pred)
accuracy*100

78.04878048780488

In [126]:
# Measuring precision
precision = precision_score(y_test, y_pred)
precision

0.5

In [127]:
# Measuring recall
recall = recall_score(y_test, y_pred)
recall

0.1111111111111111

In [128]:
# Measuring f1
f1 = f1_score(y_test, y_pred)
f1

0.1818181818181818